<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="AMCU是华南农业大学单片机开发爱好者的交流平台">
    <meta name="keywords" content="AMCU,MCU,大学生,单片机开发者社区,电子专业,硬件工程师,Android工程师,开发者,Java工程师,文章正文">
    <title>文章--华南农业大学单片机协会</title>

    <!-- icon -->
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <!-- Boostrap -->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap-select.min.css">
    <!-- adminLTE -->
    <link rel="stylesheet" href="../css/adminLTE/AdminLTE.min.css">
    <!-- tools -->
    <link rel="stylesheet" href="../css/tools/font-awesome.min.css">
    <link rel="stylesheet" href="../css/tools/normalize.css">
    <link rel="stylesheet" href="../css/tools/nprogress.css">
    <link rel="stylesheet" href="../css/tools/share.min.css">
    <link rel="stylesheet" href="../css/tools/toastr.min.css">
    <link rel="stylesheet" href="../css/tools/desktop-pet.css">
    <link rel="stylesheet" href="../css/tools/gruvbox-dark.css">
    <link rel="stylesheet" href="../css/tools/article-dir.css">
    <link rel="stylesheet" href="../css/view/main.css">
    <!-- article -->
    <link rel="stylesheet" href="../css/view/comment-reply.css">
    <link rel="stylesheet" href="../css/view/article.css">

    <!--[if gte IE 9]>
    <script type="text/javascript" src="../js/ie-exts/html5shiv.min.js"></script>
    <script type="text/javascript" src="../js/ie-exts/respond.min.js"></script>
    <script type="text/javascript" src="../js/ie-exts/selectivizr-min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script>window.location.href='upgrade-browser.html';</script>
    <![endif]-->
</head>
<body>

    <header>
        <nav class="navbar navbar-default" id="navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="../index.html" class="navbar-brand logo-brand">
                        <img class="amcu-logo" id="logo" src="../img/logo/logo.png" alt="协会logo">
                    </a>

                    <button class="navbar-toggle x collapsed mr-t-4" type="button" data-toggle="collapse" data-target="#navbar-menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse pull-left mr-l-39p mr-t-4" id="navbar-menu">
                    <ul class="nav navbar-nav head-nav navbar-left">
                        <li>
                            <a data-cont="AMCU网站" title="AMCU网站" href="../index.html">首页</a>
                        </li>
                        <li>
                            <a data-cont="协会资讯" title="协会资讯" href="../sys/info.html">协会资讯</a>
                        </li>
                        <li>
                            <a data-cont="文章" title="文章" href="article-center.html" style="color: #0074E8;">文章</a>
                        </li>
                        <li class="dropdown">
                            <a data-cont="合作企业" title="合作企业" class="dropdown-toggle" data-toggle="dropdown" href="#">合作企业<b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="#">广州创龙</a></li>
                                <li><a href="#">广州英码</a></li>
                                <li><a href="#">广州邦普</a></li>
                            </ul>
                        </li>
                        <li>
                            <a data-cont="在线工具" title="在线工具" href="##">在线工具</a>
                        </li>
                        <li>
                            <a data-cont="用户中心" title="用户中心" href="##">用户中心</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-custom-menu pull-right mr-t-4" id="userNavWrapper">
                    <ul class="nav navbar-nav user-nav-on-show" id="user-nav">
                        <template v-if="isLogin" v-cloak="">
                            <li class="dropdown user user-menu" id="user-menu">
                                <a href="javascript:void(0)" class="dropdown-toggle link-default-img" data-toggle="dropdown" aria-expanded="false">
                                    <img :src="curUsrAvatar" class="user-image" alt="测试人员123">
                                    <span class="visible-lg-inline">{{ curUsername }}</span>
                                </a>
                                <ul class="dropdown-menu mr-t-10">
                                    <li>
                                        <div class="box box-primary cur-usr-box margin-bottom-none">
                                            <div class="box-header">
                                                <img :src="curUsrAvatar" class="cur-usr-image center-block img-circle" alt="">
                                                <p>
                                                    <span>{{ curUsername }}</span>
                                                    <small>{{ curUserEmail }}</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <div class="pull-left">
                                                <a :href="curUserCenterUrl" class="btn btn-success">
                                                    <i class="glyphicon glyphicon-user" style="margin-right: 5px;"></i>个人中心
                                                </a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="/signout" class="btn btn-danger">
                                                    <i class="glyphicon glyphicon-log-out" style="margin-right: 5px;"></i>退出登录
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </template>
                        <template v-else v-cloak="">
                            <li class="user user-menu">
                                <a href="/"><span>登录</span></a>
                            </li>
                            <li>
                                <a href="/auth-signup.html"><span>注册</span></a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container top-rel-container" style="transform: none" id="articleMain">
        <div class="row">
            <div class="left-sidebar col-md-3">
                <!-- 作者信息 -->
                <div class="info-content">
                    <div class="box box-primary" id="user-info">
                        <div class="box-header with-border">
                            作者信息
                        </div>
                        <div class="box-body">
                            <a href="javascript:void(0)">
                                <img class="user-avatar center-block img-circle img-responsive" src="../img/avatar/5_1.png">
                            </a>
                            <span class="user-name" v-cloak>{{ this.author }}</span>
                            <span class="user-integration">声望:<span id="integrations" v-cloak>{{ this.integrations }}</span></span>
                            <span class="user-auth">
                                <span class="label label-primary">网站成员</span>
                                <span class="label label-danger">AMCU成员</span>
                                <span class="label label-warning">ADMIN</span>
                            </span>
                            <div class="form-group mr-t-10">
                                <div class="col-md-6 col-xs-6">
                                    <span>博客数量:100</span>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <span>粉丝数量:100</span>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <button class="btn btn-primary mr-t-10"><i class="glyphicon glyphicon-plus"></i><span style="margin-left: 5px;">关注作者</span></button>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <button class="btn btn-primary mr-t-10"><i class="glyphicon glyphicon-home"></i><span style="margin-left: 5px;">作者主页</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 文章点赞/收藏/分享 -->
                <div class="more-4-article">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-md-4 col-xs-4">
                                <button class="btn btn-default"><i class="fa fa-thumbs-o-up"></i><span class="mr-l-2" v-cloak>({{ this.articleVotes }})</span></button>
                                <button class="btn btn-danger hidden"><i class="fa fa-thumbs-o-up"></i><span class="mr-l-2" v-cloak>({{ this.articleVotes }})</span></button>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button class="btn btn-default"><i class="fa fa-bookmark"></i><span class="mr-l-2" v-cloak>({{ this.articleCollects }})</span></button>
                                <button class="btn btn-danger hidden"><i class="fa fa-bookmark"></i><span class="mr-l-2" v-cloak>({{ this.articleCollects }})</span></button>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <a class="btn btn-default" href="#share-location"><i class="fa fa-share-alt"></i><span class="mr-l-2">分享</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 文章目录 -->
                <div class="article-bookmark hidden-xs" id="bookmark">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            文章目录导航
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="catalogue">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- 公众号关注 -->
                <div class="box box-primary hidden-xs">
                    <div class="box-header with-border">
                        <h3 class="box-title">关注AMCU</h3>
                    </div>
                    <div class="box-body">
                        <strong>
                            <i class="fa fa-wechat margin-r-5"></i>AMCU微信公众号
                        </strong>
                        <p class="text-muted">公众号:<strong>华农单协</strong>
                            <img class="group-img center-block" src="../img/avatar/wx_amcu.jpg" alt="华农单协">
                        </p>
                        <p>关注了可能能成为大佬哦!</p>
                    </div>
                </div>
            </div>
            <div class="article col-md-9">
                <!-- 导航栏 -->
                <div>
                    <ul class="breadcrumb bread-nav-w">
                        <li><a href="/">首页</a></li>
                        <li><a href="javascript:void(0)">文章</a></li>
                        <li><a href="javascript:void(0)" v-cloak>{{ this.author }}</a></li>
                        <li><a href="javascript:void(0)"  v-cloak>{{ this.articleCategory }}</a></li>
                    </ul>
                </div>
                <!-- 文章渲染区域 -->
                <div class="article-box">
                    <div class="box box-solid" id="primary">
                        <div class="box-body">
                            <header class="entry-header">
                                <h1 v-cloak>{{ this.articleTitle }}</h1>
                            </header>
                            <div id="article-info-list" style="width: 100%; min-height: 22px;">
                                <div class="form-group">
                                    <span class="col-md-1">标签:</span>
                                    <ul class="list-inline col-md-11">
                                        <li>
                                            <div  class="diy-tag-style">
                                                <a href="javascript:void(0)" v-cloak v-for="t in articleTags">
                                                    <span class="badge" v-cloak data-toggle="tooltip" data-placement="top" :title="t">{{ t }}</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="article-ext-list" style=" width: 100%; min-height: 30px;">
                                <div class="form-group">
                                    <ul class="list-inline">
                                        <li class="views pull-left mr-l-8">
                                            <i class="glyphicon glyphicon-time"></i>
                                            <span style="margin-left: 5px; margin-right: 5px;">发布时间:</span>
                                            <span style="margin-left: 5px; margin-right: 5px;" v-cloak>{{ this.articlePassAuditTime }}</span>
                                        </li>
                                        <li class="views pull-right" data-toggle="tooltip" data-placement="top" title="感谢支持">
                                            <i class="fa fa-eye"></i><span class="mr-l-5 mr-r-5" v-cloak>{{ this.articleViews }}</span>views
                                        </li>
                                        <li class="views pull-right" class="mr-l-5 mr-r-5" data-toggle="tooltip" data-placement="top" title="快去评论">
                                            <a href="#comment-reply-location" style="color: #999;">
                                                <i class="fa fa-commenting-o"></i><span v-cloak>{{ this.articleComments }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr class="hr-border">
                            <!-- 文章嵌入 -->
                            <div class="article-entry">
                                <!-- 文章主体区域 -->
                                <div class="single-content" id="singleContent" v-cloak v-highlight v-html="this.articleContent"></div>
                            </div>
                        </div>
                        <!-- 分享 -->
                        <div class="box-footer" id="share-location">
                            <div class="social-share" data-sites="qq, qzone, wechat, douban, linkedin, weibo"></div>
                        </div>
                    </div>
                </div>
                <div class="comment-reply-box" id="comment-reply-location">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            评论区
                        </div>
                        <div class="box-body">
                            <div class="bb-comment">
                                <!-- 评论框 -->
                                <div class="comment-send">
                                    <div class="user-face">
                                        <img class="user-head" src="../img/avatar/5_1.png">
                                    </div>
                                    <div class="textarea-container">
                                        <div class="baffle-wrap">
                                            <div class="baffle">
                                                当前评论功能已关闭
                                            </div>
                                        </div>
                                        <i class="ipt-arrow"></i>
                                        <textarea name="content" cols="80" rows="5" placeholder="期待你的评论!" class="comment-content"></textarea>
                                        <button type="button" class="comment-submit">评论发表</button>
                                    </div>
                                    <div class="comment-emoji">
                                        <i class="face"></i>
                                        <span class="text">表情</span>
                                    </div>
                                    <div class="emoji-box" style="display: none;">

                                    </div>
                                </div>
                                <!-- 评论列表 -->
                                <div class="comment-list">
                                    <div class="list-item reply-wrap" id="" data-comment-id="">
                                        <div class="user-face">
                                            <a href="javascript:void(0)" data-uid="">
                                                <img class="comment-user-avatar" src="../img/avatar/5_1.png" />
                                            </a>
                                            <div class="user-card" style="display: none;">
                                                <p class="loading-card">
                                                    加载ing......
                                                </p>
                                            </div>
                                        </div>
                                        <div class="con">
                                            <div class="user">
                                                <a href="javascript:void(0)" class="name">测试大佬1</a>
                                            </div>
                                            <p class="text">66666666666666666666666666666666666</p>
                                            <div class="info">
                                                <span class="floor">1楼</span>
                                                <span class="time" title="2018-11-20 13:24:00">1分钟前</span>
                                                <span class="reply btn-hover"></span>
                                                <div class="operation">
                                                    <div class="spot">
                                                        <div class="opera-list" style="display: none;">
                                                            <ul>
                                                                <li class="comment-delete-btn">delete</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="reply-box" style="display: none;">
                                                <div class="reply-item reply-wrap">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 分页插件 -->
                                <div class="bottom-page paging-box-big" data-order="new">
                                    <a href="javascript:void(0)" class="page-link prev" pageindex="0">prev</a>
                                    <a href="javascript:void(0)" class="page-link current" pageindex="1">1</a>
                                    <a href="javascript:void(0)" class="page-link next" pageindex="2">next</a>
                                    <div class="page-jump">
                                        共<span>1</span>页,跳转至
                                        <input type="number" class="jump-page-size" max="1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="spig" class="spig">
        <div id="message">正在加载中……</div>
        <div id="mumu" class="mumu"></div>
    </div>

    <footer class="main-footer">
        <div class="container footer-container">
            <strong>Copyright © 2018 </strong>
            <a href="javascript:void(0);">AMCU</a>
            <a class="text-black" href="javascript:void(0);">备案号(还未申请)</a>
        </div>
        <div id="gotop">
            <a class="gotop"></a>
        </div>
    </footer>

    <!-- jquery -->
    <script type="text/javascript" src="../js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery/jquery-qrcode.min.js"></script>
    <!-- Boostrap -->
    <script type="text/javascript" src="../js/boostrap/bootstrap.min.js"></script>
    <!-- adminLTE -->
    <script type="text/javascript" src="../js/adminLTE/adminlte.min.js"></script>
    <!-- vue -->
    <script type="text/javascript" src="../js/vue/vue.min.js"></script>
    <script type="text/javascript" src="../js/vue/axios.min.js"></script>
    <script type="text/javascript" src="../js/vue/qs.min.js"></script>
    <!-- tools -->
    <script type="text/javascript" src="../js/tools/ResizeSensor.min.js"></script>
    <script type="text/javascript" src="../js/tools/theia-sticky-sidebar.min.js"></script>
    <script type="text/javascript" src="../js/tools/nprogress.js"></script>
    <script type="text/javascript" src="../js/tools/social-share.min.js"></script>
    <script type="text/javascript" src="../js/tools/toastr.min.js"></script>
    <script type="text/javascript" src="../js/tools/desktop-pet.js"></script>
    <script type="text/javascript" src="../js/tools/highlight.pack.js"></script>
    <script type="text/javascript" src="../js/tools/highlightjs-line-numbers.min.js"></script>
    <script type="text/javascript" src="../js/tools/article-dir.js"></script>
    <script type="text/javascript" src="../js/view/main.js"></script>
    <!-- article -->
    <script type="text/javascript" src="../js/view/article.js"></script>
</body>
</html>