@charset "UTF-8";

body {
    width: 100% !important;
    overflow: hidden;
}

.title-pre {
    background-color: #3c8dbc !important;
    color: white;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}

div#editor-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.simditor {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 8px 40px rgba(0,0,0,0.15);
}

.simditor-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.simditor .simditor-body {
    min-height: 800px !important;
}

.simditor .simditor-wrapper .simditor-toolbar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.simditor .simditor-body blockquote {
    display: block;
    padding: 16px;
    margin: 15px 0;
    border-left: 8px solid #3c8dbc;
    background-color: #eef0f4;
    overflow: auto;
    overflow-scrolling: touch;
    word-wrap: normal;
    word-break: normal;
}

.simditor .simditor-body blockquote p {
    font-size: 14px;
    line-height: 22px;
    color: #999;
    font-weight: 400;
    margin-bottom: 0;
}
