@charset "UTF-8";

/*************** 左侧sidebar样式 *******************/

.left-sidebar .info-content #user-info {
    width: auto;
    height: 300px;
    text-align: center;
    vertical-align: middle;
}

#user-info img.user-avatar {
    width: 80px;
    height: 80px;
}

#user-info span.user-name {
    display: block;
    max-width: 120px;
    height: 26px;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}

#user-info span.user-integration {
    display: block;
    max-width: 200px;
    height: 26px;
    text-align: center;
    margin: 0 auto;
}

#user-info span.user-integration span#integrations {
    margin-left: 20px;
    color: red;
}

#user-info div.for-btn {
    margin-top: 30px;
}

#user-info div.for-btn .btn {
    margin-left: 10px;
}

/*************** 右侧文章样式 *******************/

.tab-content .box.box-default {
    border-top-color: white;
}

.tab-content .box-body {
    padding: 0 10px;
}

/*************** 热门文章 *******************/

ul.hot-content {
    margin-top: 0;
    padding: 0;
    border-top: none;
    list-style: none;
}

ul.hot-content li.content-li {
    margin-top: 0;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

ul.hot-content li .title-wrap ul {
    font-size: 12px !important;
    line-height: 36px;
}

ul.hot-content li .title-wrap ul li a img {
    width: 36px;
    height: 36px;
}

/*************** 最新文章 *******************/

ul.new-content {
    margin-top: 0;
    padding: 0;
    border-top: none;
    list-style: none;
}

ul.new-content li.content-li {
    margin-top: 0;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

ul.new-content li .title-wrap ul {
    font-size: 12px !important;
    line-height: 36px;
}

ul.new-content li .title-wrap ul li a img {
    width: 36px;
    height: 36px;
}

.title-font-set {
    font-size: 14px;
    color: #333333;
    line-height: 26px;
}

.title-font-set:hover {
    color: #b92c28;
}

img.group-img {
    width: 180px;
    height: 180px;
}