/**
    author: Ben Zheng
 */
@charset "utf-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
button,
input,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
#footer,
#header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
button,
input,
textarea,
p,
span,
th,
td,
article,
aside,
nav,
section,
img,
a {
    outline: none;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

html,
body {
    color: #444;
    background-color: #f6f6f6;
    overflow-x: hidden;
}

html {
    overflow-y: scroll;
}

.content-wrapper {
    background-color: #f6f6f6 !important;
}

:root {
    overflow-y: auto;
    overflow-x: hidden;
}

:root body {
    position: absolute;
}

body {
    width: 100vw;
    overflow: hidden;
}

html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #CCC;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-track-piece {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background: #999;
}

html::-webkit-scrollbar-thumb:hover {
    background: #3399CC;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    display: list-item;
    list-style: none;
    text-align: -webkit-match-parent;
}

li.active {
    background: #FFF;
    opacity: .9;
    filter: alpha(opacity=90);
}

body,
input,
button,
textarea,
select {
    font-family: "Microsoft YaHei", "微软雅黑", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

@font-face {
    font-family: 'TaurusNormal';
    src: url('../../fonts/TaurusNormal.woff') format('woff'), url('../../fonts/TaurusNormal.ttf') format('truetype'), url('../../fonts/TaurusNormal.svg') format('svg');
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bold {
    font-weight: bold
}

.link-size-16 {
    font-size: 16px;
}

.link-default {
    color: #3d3d3d;
    max-width: 98%;
    display: block;
    line-height: 24px;
    height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
}

.link-default-img {
    color: #3d3d3d;
    max-width: 100%;
    display: block;
    line-height: 50px;
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 8px;
}

.link-default:hover {
    color: #ca0c16;
}

.link-default-sm {
    color: #666;
}

.link-default-sm:hover {
    color: #ca0c16;
}

.title-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bread-nav-w {
    background-color: white;
    border-left: 5px solid #3c8dbc;
}

.ul-nav-w {
    background-color: white;
}

.ul-nav-border {
    border-bottom: 1px solid #eee;
}

.form-search {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.li-ver-md {
    vertical-align: middle;
}

.carousel-img {
    margin: 0 auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

.mr-t-4 {
    margin-top: 4px !important;
}

.mr-t-6 {
    margin-top: 6px !important;
}

.mr-t-8 {
    margin-top: 8px !important;
}

.mr-t-10 {
    margin-top: 10px !important;
}

.mr-b-10 {
    margin-bottom: 10px;
}

.mr-l-8 {
    margin-left: 8px !important;
}

.mr-r-5 {
    margin-right: 5px !important;
}

textarea {
    resize: none;
}

/*************** 导航栏公用样式 *******************/

.navbar {
    background-color: #fff;
    width: 100%;
    border: none;
    border-radius: 0;
    min-height: 60px;
    margin-bottom: 20px;
    padding: 0;
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
}

/*************** 移动端侧边折叠按钮样式 *******************/

.navbar-toggle.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

button.navbar-toggle.x,
button.navbar-toggle.x:hover {
    background-color: transparent !important;
}

a.navbar-brand.logo-brand {
    padding: 0.85rem 0 0 1rem;
}

img#logo.amcu-logo {
    width: 65px;
    height: auto;
}

.navbar-default .head-nav>li>a:focus,
.navbar-default .head-nav>li>a:hover {
    color: #0074E8;
    background-color: transparent;
}

.cur-usr-box {
    background-color: #3c8dbc;
}

.cur-usr-box .box-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.cur-usr-box p {
    z-index: 5;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
}

.cur-usr-box p small {
    display: block;
    font-size: 12px;
}

.cur-usr-image {
    width: 80px;
    height: 80px;
}

/*************** footer公用样式 *******************/

.container.top-rel-ontainer {
    min-height: calc(100vh - 132px);
}

.main-footer {
    margin-left: 0;
}

.footer-container {
    text-align: center;
}

/*************** 设备样式匹配 *******************/
@media screen and (max-width: 991px) {
    .mr-l-39p {
        margin-left: calc(16vw) !important;
        float: left !important;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding-right: 8px!important;
        padding-left: 8px!important;
    }
}

@media screen and (min-width: 768px) {

    .mr-l-39p {
        margin-left: calc(16vw) !important;
        float: left !important;
    }

    .w-180 {
        width: 100%;
    }
}

@media screen and (min-width: 996px) and (max-width: 1139px) {
    .mr-l-39p {
        margin-left: calc(23vw) !important;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1180px) {
    .mr-l-39p {
        margin-left: calc(22vw) !important;
    }
}

@media screen and (min-width: 1181px) and (max-width: 1190px) {
    .mr-l-39p {
        margin-left: calc(22vw) !important;
    }
}

@media screen and (min-width: 1191px) and (max-width: 1199px) {
    .mr-l-39p {
        margin-left: calc(21vw) !important;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    .w-180 {
        width: 180px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1230px) {
    .mr-l-39p {
        margin-left: calc(40vw) !important;
    }
}

@media screen and (min-width: 1231px) and (max-width: 1260px) {
    .mr-l-39p {
        margin-left: calc(39vw) !important;
    }
}

@media screen and (min-width: 1261px) and (max-width: 1294px) {
    .mr-l-39p {
        margin-left: calc(38vw) !important;
    }
}

@media screen and (min-width: 1295px) and (max-width: 1366px) {
    .mr-l-39p {
        margin-left: calc(36vw) !important;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1447px) {
    .mr-l-39p {
        margin-left: calc(34vw) !important;
    }
}

@media screen and (min-width: 1448px) and (max-width: 1537px) {
    .mr-l-39p {
        margin-left: calc(32vw) !important;
    }
}

@media screen and (min-width: 1538px) and (max-width: 1640px) {
    .mr-l-39p {
        margin-left: calc(30vw) !important;
    }
}

@media screen and (min-width: 1641px) and (max-width: 1756px) {
    .mr-l-39p {
        margin-left: calc(28vw) !important;
    }
}

@media screen and (min-width: 1757px) and (max-width: 1892px) {
    .mr-l-39p {
        margin-left: calc(26vw) !important;
    }
}

@media screen and (min-width: 1893px) {
    .mr-l-39p {
        margin-left: calc(24vw) !important;
    }
}

/*************** bootstrap间距样式 *******************/

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}

/*************** 行之间添加垂直间距 *******************/
/*
.row-grid + .row-grid {
    margin-top: 15px;
}
*/

/*************** 标签tags公用样式 *******************/

.tags{

}

.tags a {
    opacity: .80;
    filter: alpha(opacity=80);
    color:#ffffff;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 6px;
    line-height: 21px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 70px;
    text-align:center;
    overflow: hidden;
    height: 21px;
}

.tags a:nth-child(9n) {
    background-color:#4a4a4a
}
.tags a:nth-child(9n+1) {
    background-color:#428bca
}

.tags a:nth-child(9n+2) {
    background-color:#5cb85c
}

.tags a:nth-child(9n+3) {
    background-color:#d9534f
}

.tags a:nth-child(9n+4) {
    background-color:#567e95
}
.tags a:nth-child(9n+5) {
    background-color:#b433ff
}

.tags a:nth-child(9n+6) {
    background-color:#00aba9
}

.tags a:nth-child(9n+7) {
    background-color:#b37333
}

.tags a:nth-child(9n+8) {
    background-color:#f60
}

.diy-tag-style a .badge {
    margin-right: 2px;
    color: white;
    padding: 5px 8px;
    border-radius: 3px;
}

.diy-tag-style a:nth-child(6n) .badge {
    background-color: #7AF5D2;
    border: 1px solid #B5EAC9;
}

.diy-tag-style a:nth-child(6n+1) .badge {
    background-color: #428bca;
    border: 1px solid #93B7F3;
}

.diy-tag-style a:nth-child(6n+2) .badge {
    background-color: #D2220A;
    border: 1px solid #F13D3D;
}

.diy-tag-style a:nth-child(6n+3) .badge {
    background-color: #F8BA25;
    border: 1px solid #FFE793;
}

.diy-tag-style a:nth-child(6n+4) .badge {
    background-color: #b433ff;
    border: 1px solid #DD00BB;
}

.diy-tag-style a:nth-child(6n+5) .badge {
    background-color: #4DA511;
    border: 1px solid #41A863;
}

/*************** gotop公用样式 *******************/

.gotop {
    cursor: pointer;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 99999;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../../img/tools/backtop.png) no-repeat 0 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.gotop:hover {
    background: url(../../img/tools/backtop.png) no-repeat 0 -52px;
}

/*************** 文章排版公用样式 *******************/
.article-entry {
    min-height: 500px;
}

.single-content {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.8;
}

.single-content p,
.single-content ul,
.single-content ol,
.single-content dd,
.single-content pre,
.single-content hr {
    margin: 0 0 5px 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-all;
    text-justify: inter-ideograph;
}

.single-content em {
    font-style: italic;
}

.single-content code {
    background: #f1f1f1;
    color: #555;
    margin: 0 2px;
    padding: 2px 4px;
    border-radius: 2px;
}

.single-content h2 {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 190%;
    margin: 10px -21px;
    padding: 0 44px;
    border-left: 5px solid #e40000;
    border-bottom: 1px solid #e40000;
}

.single-content h3 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 190%;
    margin: 2px -21px 10px -21px;
    padding: 0 44px;
    border-left: 5px solid #2f889a;
    border-bottom: 1px solid #2f889a;
}

.single-content h4 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 280%;
    margin-top: -90px;
    padding: 90px 30px 5px 30px;
}

.single-content .directory {
    float: left;
    height: 30px;
    margin: 8px -21px;
    border-left: 5px solid #2f889a;
}

.single-content fieldset {
    padding: 5px 15px;
    margin: 0 0 10px 0;
    border: 1px solid #ddd;
}

.single-content legend {
    font-weight: bold;
    padding: 5px;
}

.single-content p {
    text-indent: 2em;
}

.single-content ul li,
.single-content ol li {
    margin: 0 35px 0 50px;
    line-height: 190%;
}

.single-content ul li {
    list-style: square;
}

.single-content ol li {
    list-style: decimal;
}

.single-content sup {
    bottom: 1ex;
}

.single-content sup, .single-content sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

blockquote {
    width: 100%;
    color: #8b8b8b;
    margin: 0 auto;
    padding: 10px;
    clear: both;
    border: 1px dashed red;
}

.single-content img, .comment-list p img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    display: block;
}

/*************** tab内搜索公用样式 *******************/

.tab-content .box.box-default {
    border-top-color: white;
}

.tab-content .box-body {
    padding: 0 10px;
}

/*************** 第三方登陆logo *******************/

.oauth2 a {
    display: inline-block;
    margin-right: 5px;
    width: 19px;
    height: 19px;
}

.qq {
    background-image: url("../../img/avatar/qq.ico");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wx {
    background-image: url("../../img/avatar/wx.ico");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.linkedin {
    background-image: url("../../img/avatar/linkedin.ico");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.github {
    background-image: url("../../img/avatar/github.ico");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.coding {
    background-image: url("../../img/avatar/coding.ico");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.user-nav-on-show {
    max-width: 116px;
}



