@charset "UTF-8";

/*************** 左侧sidebar样式 *******************/

.left-sidebar .info-content #user-info {
    width: auto;
    min-height: 240px;
    text-align: center;
    vertical-align: middle;
}

#user-info img.user-avatar {
    width: 80px;
    height: 80px;
}

#user-info span.user-name {
    display: block;
    max-width: 120px;
    height: 26px;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}

#user-info span.user-integration {
    display: block;
    max-width: 200px;
    height: 26px;
    text-align: center;
    margin: 0 auto;
}

#user-info span.user-integration span#integrations {
    margin-left: 20px;
    color: red;
}

#user-info div.for-btn {
    margin-top: 16px;
}

#user-info div.for-btn .btn {
    margin-left: 10px;
}

.icon, span.ban7, span.ban7w, span.ban10, span.ban23, span.check7, span.check23, span.exclamation7, span.exclamation23, span.trash7, span.trash10 {
    background-image: url("../../img/imgUpload/sprite.png");
}

.icon, span.ban7, span.ban7w, span.ban10, span.ban23, span.check7, span.check23, span.exclamation7, span.exclamation23, span.trash7, span.trash10 {
    background-image: url("../../img/imgUpload/sprite.png");
}

.ssi-dropZonePreview {
    min-height: 150px;
    border: 2px dashed #ccc;
    content: '可将图片拖入到此处上传哦!o(*^＠^*)o';
}

.ssi-imgToUploadTable {
    border: 1px solid #e1e1e1;
    color: #000;
    font-size: 15px;
    margin-right: 4px;
    box-shadow: 0 10px 6px -6px #777;
    padding: 5px;
    display: inline-block;
    width: 300px;
    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.ssi-imgToUpload {
    width: 285px;
    height: auto;
}

